h1
{
    padding-left:67px; 
    margin-top:60px; 
    font-size:27px; 
    color:#464748; 
    text-transform:uppercase;
} 

.calculator_form
{
    width:460px; 
    height:200px; 
    padding:0px 60px 40px 60px;
} 

input.numbers
{
    height:42px; 
    width:120px; 
    float: left; 
    display:inline-block; 
    margin:20px 0px; 
    padding:10px 20px; 
    border:1px solid #2d598066; 
    -moz-border-radius:3px; 
    -webkit-border-radius:3px; 
    border-radius:3px; font-weight:300;
} 

select.operations
{
    width:66px; 
    height:64px; 
    float:left; 
    margin:20px 5px; 
    padding:5px 0 0 10px; 
    background-color:#1ca7a2; 
    border:1px solid #1ca7a2; 
    font-size:36px; color:#fff;
} 

input.submit_form
{
    height:62px; 
    width:400px; 
    display:inline-block; 
    padding-top:5px; 
    background-color:#f7994f; 
    border:1px solid #f6994f; 
    border-radius:4px; 
    font-size:17px; 
    font-weight:600; 
    text-transform:uppercase; 
    color:#ffffff; 
    box-shadow:1px 5px 10px 5px rgb(247, 136, 48) inset;
} 

div.answer-text,div.error-text
{
    margin-top:50px; 
    padding-left:65px; 
    font-size:28px;
} 

div.answer-text
{
    color:#2e2e2f;
} 

div.error-text
{
    color:red;
}